* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: fantasy
}


.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #DCD7C9;
    color: #222831;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clock {
    width: 300px; 
    height: max-content;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px #919397, -5px -5px 10px #e7e5de;
}

.cl {
    display: inline-block;
    width: 23%;
    height: 100%;
    text-align: center;
}

.colon {
    height: 20px;
    line-height: 1px;
}

.buttons {
    position: fixed;
    top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 250px;
    text-align: center;

}

.switch-btn {
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #919397, -5px -5px 10px #e7e5de;
    margin: 20px;
    cursor: pointer;
}

.switch-btn:hover {
    background-color: #c4baa6;
    color: #222831;
}



.dark {
    background-color: #222831;
    color: #DCD7C9;

}

.dark-shadow {
    box-shadow: 5px 5px 10px #1b2027, -5px -5px 10px #2e3642;
}